<div class="card bg-secondary">
    <h4 class="card-header" style="background-color: lightskyblue;">{{pageTitle}}</h4>
</div>
<div>
    <label for="">Account No</label>
    <!-- <input type="text" name="account" [(ngModel)]="accountId" > -->
    <select id=accountNumber style="margin-right: 20px; margin-top: 10px;">
        <option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
    </select>
    <button (click)='submitRequest()' style="background-color: lightblue;">Submit</button>
</div>
<div>
    <label for="clientName">Name: {{client.firstName}} {{client.lastName}} </label><br>
    <label for="accountNo">Account Number:{{accountId}} </label>
</div>
<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Sn</th>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of statement;let i = index">
                <td>
                    {{i + 1}}
                </td>
                <td>
                    {{item.transactionDateTime}}
                </td>
                <td>
                    {{item.description}}
                </td>
                <td>
                    {{item.debitAmount}}
                </td>
                <td>
                    {{item.creditAmount}}
                </td>
                <td>
                    {{item.currentBalance}}
                </td>
            </tr>
        </tbody>
    </table>
</div>