<div class="card">
  <h4 class="card-header" style="background-color: lightskyblue;">Deposit Cash</h4>
    
    <form form #form="ngForm" (ngSubmit)="onSubmit(formModel)">
      <select id=accountNumber style="margin-right: 20px; margin-top: 10px;">
        <option *ngFor="let temp of client.accList" value={{temp.accountNumber}}>{{temp.accountNumber}}</option>
    </select>
        
      <div class="form-group" >
        <label for="depositAmount">deposit Amount</label>
        <input name = "amount" #amount = 'ngModel' type="number" min=0 [(ngModel)]='formModel.amount'><br><br>
       
    </div>
    <div class="form-group" >
      <label for="description">Description</label>
      <input name="description" type="text" minlength="6" maxlength="50" [(ngModel)]='formModel.description' class="form-control"  />
     </div>
        <!-- <pre></pre> -->
        <br>
        <button class="btn btn-primary" type="submit"> submit</button>
      </form>
</div>
    
        
    
      
    
