<div class="card">
    <h4 class="card-header" style="background-color: lightskyblue;" >User Detail Information</h4>
    <div class="card-body">
     
            <div class="form-group" >
                <label style="font: bold;" for="firstName">Full Name : {{client.firstName}} {{client.lastName}}</label>
                <br>
                <label for="address">Address :{{client.address}}</label>
                <br>
                <label for="age">Age : {{client.age}}</label>
                <br>
                <label for="contact">Contact No : {{client.contactNumber}} </label>
                <br>
                <label for="email">Email :{{client.emailAddress}}</label>
            </div>
            <div class="table-responsive">
                <label for="">Account Details:</label>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Sn</th>
                            <th>Account Number</th>
                            <th>Branch</th>
                            <th>Account Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of client.accList; let i = index">
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
                                {{item.accountNumber}}
                            </td>
                            <td>
                                {{item.bholder.branchName}}
                            </td>
                            <td>
                                {{item.tholder.typeName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>


