<div class="card">
    <h4 class="card-header" style="background-color: lightskyblue;">Update Profile</h4>
    <div class="card-body">
        <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control"  />
                <div  *ngIf="validateFirstName()">
                    <div style="color: red;" class="invalid-input">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"  />
                <div  *ngIf="validateLastName()">
                    <div style="color: red;" class="invalid-input">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" formControlName="address" class="form-control"/>
                <div  *ngIf="validateAddress()">
                    <div style="color: red;" class="invalid-input">Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="contact">Contact No</label>
                <input type="text" formControlName="contactNumber" class="form-control"/>
                <div *ngIf="validateContactNumberExample()">Phone Format Example: 123-456-7890</div>
                <div  *ngIf="validateContactNumber()">
                    <div style="color: red;" class="invalid-input">Invalid Contact Number</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control"  />
                <div  *ngIf="validateEmail()">
                    <!-- what is class="invalid-feedback" -->
                    <div style="color: red;" class="invalid-input">Email is not valid</div>
                </div>
            </div>
            <div class="form-group">
                <button  class="btn btn-primary">
                    <span  class=" spinner-border-sm mr-1"></span>
                    Submit Update
                </button>
                <a routerLink="../viewprofile" class="btn btn-link">Cancel</a>
            </div> 
        </form>
    </div>
</div>

