
<div class="form-group">
<label for="photo">Profile Picture</label><br>
<!-- <input *ngIf="formGroupParent && formControlNameParent" type="file" id="customFile" (change)="selectFile($event)" placeholder="File To Upload" formControlName="photo" class="form-control" [formControl]="formGroupParent[formControlNameParent]"
[name]="formControlNameParent" > -->

<!-- formControlName="fileName" -->
<input type="file" #customFile id="customFile"  (change)="selectFile($event)" placeholder="File To Upload"><br>
</div>

<!-- <input type="text" placeholder="File to View or Delete"  name="image" [(ngModel)]="file">
<button class="btn btn-primary" style="margin-left: 10px" (click)="viewFile()">View File</button>
<button class="btn btn-primary" style="margin-left: 10px" (click)="deleteFile()">Delete File</button> -->
