<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/deposit" routerLinkActive="router-link-active">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="navbar-nav">
            <a id="register-link" class="nav-link" routerLink="/user/register" routerLinkActive="router-link-active"  >Register</a>
            <a class="nav-link" routerLink="/user/login" routerLinkActive="router-link-active">Login</a>
          </div>
      </div>
    </nav>
</div>

<div class="container">
    <div class="col-md-8 offset-md-2">
        <router-outlet></router-outlet>
    </div>
</div>
